<div class="main top-main">
  <h1>課題管理表</h1>

  <% if logged_in? %>

  <h2><%= link_to "カテゴリー一覧", categories_path,
          class: "btn btn-default btn-block btn-center" %></h2>

  <% else %>
  <h2><%= link_to "Log in", login_path, class: "btn btn-default btn-block btn-center" %></h2>
  
  <% end %>


</div>
