<div class="d-flex align-items-center container">
  <%= render 'shared/errors_messages' %>
  
  <h1>課題新規作成</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to "課題一覧", boards_path, class:"btn btn-primary" %>
  </div>
</div>



<%= render 'layouts/form' %>
