<footer class="footer">
  <small>
    Copy right T.K.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#", class:"btn btn-default" %></li>
      <li><%= link_to "Contact", "#", class:"btn btn-default" %></li>
    </ul>
  </nav>


</footer>
